// create by generate-service/plugins/typescript-react/api.mustache
{{>licenseInfo}}
import request from '@/utils/midway-request';
{{^models.isEmpty}}
import type * as models from '../model/models';
{{/models.isEmpty}}

/* tslint:disable:no-unused-variable member-ordering object-literal-shorthand */

{{#operations}}
{{>params}}
{{#description}}
/**
 * @description {{&description}}
 */
{{/description}}
  const basePath = '{{{contextPath}}}'.replace(/\/$/, '');
  

{{#operation}}
  /**
   * {{&notes}}
   {{#summary}}
   * @summary {{&summary}}
   {{/summary}}
   {{#description}}
   * @description {{&description}}
   {{/description}}
   {{#bodyParam}}* @param param: ParamsBody{{#titlecase}}{{operationName}}{{/titlecase}}{{#description}}// {{&description}}{{/description}}{{/bodyParam}}
   * @returns {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}{}{{/returnType}}
   */
   export const {{operationName}} =
    async (
      {{#bodyParam}}param: ParamsBody{{#titlecase}}{{operationName}}{{/titlecase}}{{/bodyParam}}
    ) => {
      
      const path = '';
      const url = basePath + path;
      return request<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}{}{{/returnType}}Data>(
        {
          url,
          data: { param },
        },
      );
    };
{{/operation}}
{{/operations}}