{{#operations}}
{{#operation}}
{{#allParams.0}}
{{^hasOnlyBodyParams}}
{{#headerParams.0}}
/**{{#headerParams}}
  * @description {{#titlecase}}{{operationName}}{{/titlecase}} headers 参数
  * @property `{{^required}}[{{/required}}{{baseName}}{{^required}}]{{/required}}` {{&description}}
  {{/headerParams}}*/
export interface ParamsHeader{{#titlecase}}{{operationName}}{{/titlecase}} {
  {{#headerParams}}
  {{#description}}
  /** {{&description}} */
  {{/description}}
  '{{baseName}}'{{^required}}?{{/required}}: {{&dataType}};
  {{/headerParams}}
}
{{/headerParams.0}}
/**
  {{#description}}
  * @description {{#titlecase}}{{operationName}}{{/titlecase}}参数
  {{/description}}
{{#pathParams.0}}
  {{#pathParams}}
  * @property `{{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}` {{&description}}
  {{/pathParams}}
{{/pathParams.0}}
{{#queryParams.0}}
  {{#queryParams}}
  * @property `{{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}` {{&description}}
  {{/queryParams}}
{{/queryParams.0}}
{{#formParams.0}}
  {{#formParams}}
  * @property `{{^required}}[{{/required}}{{paramName}}{{^required}}]{{/required}}` {{&description}}
  {{/formParams}}
{{/formParams.0}}
  */
{{/hasOnlyBodyParams}}
{{#bodyParam}}
/**
  {{#description}}
  * {{&description}}
  {{/description}}
  */
export type ParamsBody{{#titlecase}}{{operationName}}{{/titlecase}} = {{&dataType}};
{{/bodyParam}}
{{/allParams.0}}
{{/operation}}
{{/operations}}